/*********************操作提示*************/
.Tip{
    position:absolute;
    /*padding:15px;*/
    color:#eee;
    background:none rgba(0, 0, 0, 0.7);
    border-radius:5px;
    display:none;
    width:250px;
    height:auto;
}
.Tip .jt{
    font-size:0;
    height:0;
    border:20px solid rgba(0, 0, 0, 0);
    position:absolute
}
.Tip .jt_left{
    border-right:20px solid rgba(0, 0, 0, 0.7);
    left:-40px;
    top:40px
}
.Tip .jt_right{
    border-left:20px solid rgba(0, 0, 0, 0.7);
    left:280px;
    top:40px;
}
.Tip .jt_topleft{
    border-bottom:20px solid rgba(0, 0, 0, 0.7);
    left:20px;top:-39px
}
.Tip .jt_topright{
    border-bottom:20px solid rgba(0, 0, 0, 0.7);
    left:220px;
    top:-40px
}
.Tip .jt_bottomleft{
    border-top:20px solid rgba(0, 0, 0, 0.7);
    bottom:-40px;
    left:20px;
}
.Tip .jt_bottomright{
    border-top:20px solid rgba(0, 0, 0, 0.7);
    bottom:-40px;
    left:220px;
}

.Tip .TipTitle{
    font-size:28px;
    font-weight:bold;
    padding-left:10px;
    color:#387DEB;
}
.Tip .TipContent{
    text-indent: 2em;
    padding: 0px 10px 0px 10px;
    display: block;
    font-size: 18px;
}